# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/*.tfvars
**/*.tfvars.json
**/.terraform.lock.hcl

# Logs
*.log

# Node / Frontend
node_modules/
dist/
.vite/
.env
.env.*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Checkov
tools/checkov/reports/
tools/checkov/reports/*.json
